kypoCrpCertKey: "{{ kypo_crp_cert_key }}"
kypoCrpCertHash: "{{ kypo_crp_cert_hash }}"
kypoCrpProxyKey: "{{ kypo_crp_proxy_key }}"

kypoCrpProxyHost: "{{ kypo_crp_proxy_host }}"
kypoCrpProxyUser: "{{ kypo_crp_proxy_user }}"
kypoCrpProxyKeyName: "{{ kypo_crp_proxy_key_name }}"

kypoCrpUrl: "{{ kypo_crp_url }}"
kypoCrpDomain: "{{ kypo_crp_domain }}"

kypoCrpHeadIp: "{{ kypo_crp_internal_ip }}"

kypoCrpInstanceName: "{{ kypo_crp_instance_name }}"
kypoCrpDns: "{{ kypo_crp_dns }}"
kypoCrpUsers:
{% for item in kypo_crp_users %}
  - sub: "{{ item.sub }}"
    iss: "{{ item.iss }}"
    password: "{{ item.password }}"
    email: "{{ item.email }}"
    fullName: "{{ item.fullName }}"
    givenName: "{{ item.givenName }}"
    familyName: "{{ item.familyName }}"
    admin: "{{ item.admin }}"
{% endfor %}

kypoCrpOpenstackWorkers: "{{ kypo_crp_openstack_workers }}"
kypoCrpAnsibleWorkers: "{{ kypo_crp_ansible_workers }}"
kypoCrpDefaultWorkers: "{{ kypo_crp_default_workers }}"

kypoSandboxBuildTimeout: "{{ kypo_sandbox_build_timeout }}"
kypoSandboxDeleteTimeout: "{{ kypo_sandbox_delete_timeout }}"
kypoSandboxAnsibleTimeout: "{{ kypo_sandbox_ansible_timeout }}"

kypoCrpOidcs:
{% for item in kypo_crp_oidc_providers %}
  {% set data_index = loop.index0 %}   
  - url: "{{ item.url }}"
    logoutUrl: {{ logout_uris[(lookup('vars', "data_index"))] }}
    clientId: "{{ item.client_id }}"
    label: "{{ item.label }}"
{% endfor %}

kypoCrpOsAuthUrl: "{{ kypo_crp_os_auth_url }}"
kypoCrpOsApplicationCredentialId: "{{ kypo_crp_os_application_credential_id }}"
kypoCrpOsApplicationCredentialSecret: "{{ kypo_crp_os_application_credential_secret }}"
kypoCrpOsConsoleType: "{{ kypo_crp_os_console_type }}"

kypoCrpGit:
  type: "{{ kypo_crp_git.type }}"
  server: "{{ kypo_crp_git.server }}"
  restServerUrl: "{{ kypo_crp_git.rest_server_url }}"
  user: "{{ kypo_crp_git.user }}"
  accessToken: "{{ kypo_crp_git.access_token }}"
  ansibleNetworkingUrl: "{{ kypo_crp_git.ansible_networking_url }}"
  ansibleNetworkingRev: "{{ kypo_crp_git.ansible_networking_rev }}"
