sNgSourceSandboxIp: "{{ syslog_ng_source_sandbox_ip }}"
sNgSourceSandboxPort: "{{ syslog_ng_source_sandbox_port }}"
sNgSourceSandboxProtocol: "{{ syslog_ng_source_sandbox_protocol }}"
sNgSourceSandboxMaxConnections: "{{ syslog_ng_source_sandbox_max_connections }}"
sNgSourceSandboxLogInitialWindowsSize: "{{ syslog_ng_source_sandbox_log_initial_windows_size }}"

sNgSourceEventsPort: "{{ syslog_ng_source_events_port }}"
sNgEventsDestinationPort: "{{ syslog_ng_events_destination_port }}"

sNgSourceTrainingProtocol: "{{ syslog_ng_source_training_protocol }}"

sNgDestination: "{{ syslog_ng_destination }}"
sNgDestinationProtocol: "{{ syslog_ng_destination_protocol }}"

sNgBashDestinationPort: "{{ syslog_ng_bash_destination_port }}"

sNgMsfDestinationPort: "{{ syslog_ng_msf_destination_port }}"
